{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Enrique{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v=2">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800;900&display=swap" rel="stylesheet">
</head>
<body>

<nav class="navbar">
    <div class="logo">Enrique</div>
    <div class="nav-buttons">
        <a href="{% url 'inicio' %}">Inicio</a>
        <a href="{% url 'sobre_mi' %}">Sobre mí</a>
        <a href="{% url 'proyectos' %}">Proyectos</a>
        <a href="{% url 'contacto' %}">Contacto</a>
    </div>
</nav>


<main>
    {% block content %}{% endblock %}
</main>

<footer class="site-footer">
    © 2026 Enrique Cucalón Gellibert
</footer>
<script>
    const lightbox = document.getElementById('lightbox');
    const lightboxImg = lightbox.querySelector('img');

    document.querySelectorAll('.lightbox-img').forEach(img => {
        img.addEventListener('click', () => {
            lightboxImg.src = img.src;
            lightbox.style.display = 'flex';
        });
    });

    lightbox.addEventListener('click', () => {
        lightbox.style.display = 'none';
        lightboxImg.src = '';
    });
</script>


</body>
</html>





