{% extends "base.html" %}

{% block title %}Inicio | Enrique{% endblock %}

{% block content %}
<section class="hero-editorial">
    <div class="hero-text">
        <span class="hero-eyebrow">Programador</span>

        <h1 class="hero-title">Enrique Cucalón</h1>

        <p class="hero-description">
            Diseño y desarrollo experiencias digitales modernas,
            funcionales y orientadas a resultados reales.
        </p>

        <a href="/proyectos/" class="hero-cta">Ver proyectos</a>
    </div>

    <div class="hero-visual">
        <div class="hero-circle"></div>
    </div>
</section>



{% endblock %}


